<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.twice.mvcboard.mappers.article.ArticleMapper">

    <insert id="create">
        INSERT INTO post (
            id
            , title
            , context
            , user_id
            , write_date
        ) VALUES (
            #{id}
            , #{title}
            , #{context}
            , #{user_id}
            , #{write_date}
        )
    </insert>

    <select id="read" resultMap="ArticleResultMap">
        SELECT
            id
            , title
            , context
            , user_id
            , write_date
        FROM
            post
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE post
        SET
            title = #{title}
            , context = #{context}
        WHERE
            id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM post
        WHERE id = #{id}
    </delete>

    <select id="listAll" resultType="ArticleVO">
        <![CDATA[
        SELECT
            id,
            title,
            context,
            user_id,
            write_date
        FROM post
        WHERE id > 0
        ORDER BY id DESC, write_date DESC
        ]]>
    </select>

    <resultMap id="ArticleResultMap" type="ArticleVO">
        <id property="id" column="id"/>
        <result property="title" column="title" />
        <result property="context" column="context" />
        <result property="user_id" column="user_id" />
        <result property="write_date" column="write_date" />
    </resultMap>

</mapper>
